extends templates/layout

block main 
    main 
        .workListed
                .work 
                    h1 #{madeWork.name}
                    h2 #{madeWork.year} 
                    h2 #{madeWork.subject}
                    p  #{madeWork.description} 
                    p  #{madeWork.path} 

